.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.homepage {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.navbar {
  background-color: rgb(102, 101, 101);
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  color: white;
  padding: 14px 16px;
  color: 'white';
  text-decoration: 'none';
}

.container {
  background-color: lightblue;
  padding: 5px;
  margin: 5px;
  width: 70%;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  display: inline-block
}

.container li {
  padding: 5px;
  display: table;
  margin: 5px auto;
}

.active {
  color: red;
}

html,body { 
  height:100%;
  text-align: center;
  background-color: lightgray;
 }

 .input {
  background-color: rgb(73, 161, 190);
  padding: 5px;
  margin: 5px;
  width: fit-content;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  display: inline-block;
  font-size: 20px;
 }